<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>StockTradingDays</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}"/>
</head>

<body>
    <div class="header">
        <a href="{{url_for('index')}}">StockTradingDays</a>
    </div>
    
    <p class="about">
        Website used to find the amount of trading days from one date to the next.
        A day is considered a trading day when the stock market is open, which means
        no weekends or Federal holidays.
        <br><br>
        Federal Holidays include:
        <ul style>
            <li>New Year's Day.</li>
            <li>Martin Luther King, Jr. Day.</li>
            <li>Presidents' Day.</li>
            <li>Good Friday.</li>
            <li>Memorial Day.</li>
            <li>Juneteenth. (2021+)</li>
            <li>Independence Day.</li>
            <li>Labor Day.</li>
            <li>Thanksgiving Day.</li>
            <li>Christmas Day.</li>
        </ul>
    </p>

    <div class="footer">
        <a href="{{url_for('about')}}">About</a>
    </div>
</body>
</html>