<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>StockTradingDays</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}"/>
</head>

<body>

    <div class="header">
        <a href="{{url_for('index')}}">StockTradingDays</a>
    </div>

    <div class="main">
        <div class="one">
            <h3>Find Next Trading Day By Date</h3>
            <form method="post" action="{{url_for('result')}}" id="date_entry">
                <label for="Start">From:</label>
                <input type="text" name="Start" id="Start">
                <label for="End">To:</label>
                <input type="text" name="End" id="End">
                <input type="submit" value="Submit"/>
            </form>
            <br/>
            <input class="date" type="date" >
            <br/>
            <p>Hey its {{input1}} + {{input2}} is: {{result}}</p>
        </div>
    </div>
</body>
</html>