<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>StockTradingDays</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}"/>
</head>

<body>

    <div class="header">
        <a href="{{url_for('index')}}">StockTradingDays</a>
    </div>

    <div class="main">
        <div class="one">
            <h3>Find Next Trading Day By Date</h3>
            <form method="post" action="{{url_for('by_date')}}" id="date_entry">
                <label for="from1">From:</label>
                <input type="date" name="from1" id="from1">
                <label for="to">To:</label>
                <input type="date" name="to" id="to">
                <input type="submit"/>
            </form>
            {% if pass_date == True %}
                <p>Amount of trading days: <strong>{{result_td}}</strong>
                </br>
                From: <strong>{{input1}}</strong> To: <strong>{{input2}}</strong>
                </br>
                Next Date: <strong>{{result_date}}</strong></p>
            {% endif %}
            {% if pass_date == False %}
                <p>{{error}}</p>
            {% endif %}

        </div>
        <div class="two">
            <h3>Find Next Trading Day By Days</h3>
            <form method="post" action="{{url_for('by_day')}}" id="day_entry">
                <label for="from2">From:</label>
                <input type="date" name="from2" id="from2">
                <label for="days">Days:</label>
                <input type="number" name="days" id="days">
                <input type="submit"/>
            </form>
            {% if pass_day == True %}
                <p>Amount of trading days: <strong>{{input4}}</strong>
                </br>
                From: <strong>{{input3}}</strong>
                </br>
                Next Date: <strong>{{result_day}}</strong></p>
            {% endif %}
            {% if pass_day == False %}
                <p>{{error}}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>